Repository haunb97/srum-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --check

[vibe code] fist time format by prettier
  src/app/hooks.ts
  src/app/store.ts
  src/features/counter/Counter.module.css
  src/features/counter/Counter.tsx
  src/features/counter/counterSlice.spec.ts
  src/features/counter/counterSlice.ts
  src/index.css
  src/index.tsx
  src/pages/Login/LoginForm.test.tsx
  src/serviceWorker.ts
Due: eslint --max-warnings=0, prettier --check

[vibe code] update setup lints stage
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --check

[vibe code] update readme, create flow login redirect, fix error conflict version
  .gitattributes
  .lintstagedrc.json
  README.md
  craco.config.js
  package.json
  src/App.tsx
  src/pages/Login/LoginForm.test.tsx
  src/pages/Login/LoginForm.tsx
  src/pages/home/Home.test.tsx
  src/pages/home/REFACTOR.md
  src/pages/home/components/Card.test.tsx
  src/pages/home/components/Card.tsx
  src/pages/home/components/CardDetail.test.tsx
  src/pages/home/components/CardDetail.tsx
  src/pages/home/components/CardGrid.test.tsx
  src/pages/home/components/CardGrid.tsx
  src/pages/home/constants.ts
  src/pages/home/hooks/useCardFlip.test.ts
  src/pages/home/hooks/useCardFlip.ts
  src/pages/home/index.old.tsx
  src/pages/home/index.tsx
Due: eslint --max-warnings=0, prettier --check

[vibe code] update lints stage, refactor card
  .lintstagedrc.json
  src/components/BigCards/BigCard.test.tsx
  src/components/BigCards/BigCard.tsx
  src/components/BigCards/REFACTOR.md
  src/components/BigCards/constants.ts
  src/components/BigCards/hooks/useCardFlip.ts
  src/components/BigCards/index.tsx
  src/pages/home/index.old.tsx
Due: eslint --max-warnings=0, prettier --check

[vibe code] update test card
  src/components/BigCards/BigCard.test.tsx
Due: eslint --max-warnings=0

Path conditions:
  eslint --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --check: any of: *.{json,css,md}
